@import url(https://hotsno.github.io/stylus-styles/catppuccin-discord-base.css);

.defaultColor-HXu-5n {
    color: #FFF
}

.container-x8Y1ix:hover {
    background-color: #EEE
}

.contents-3ca1mk {
    color: #EEE
}

.tutorialContainer-2jwoiB+.listItem-3SmSlK {
    display: none;
}

.repliedMessage-3Z6XBG:before{
  border-color: #999;
}

.mentioned-Tre-dv {
    background-color: rgba(36, 120, 255, 0.1)
}

.mentioned-Tre-dv:hover {
    background-color: rgba(36, 120, 255, 0.15) !important;
}

.blockquoteDivider-363utW {
    background-color: #999
}

.rolePill-2IJ1vo {
    border-color: #555;
}

.username-h_Y3Us, .username-u-ebrn {
    color: #DDD !important;
}

/* Collapsable users */
@media screen and (max-width: 1000px) {
  .members-3WRCEx {
      height: auto;
      max-height: 100vh;
  }
  .layout-1qmrhw {
      justify-content: unset;
  }
  .chatContent-3KubbW:not(:last-child) {
      margin-right: 65px;
  }
  .membersWrap-3NUR2t {
      position: absolute;
      right: 0;
      width: unset;
      min-width: 65px;
      height: 100%;
  }
  .members-3WRCEx {
      width: 65px;
      transition: .3s ease;
  }
  .membersWrap-3NUR2t:hover .members-3WRCEx {
      width: 240px;
      transition: .3s ease;
  }
}

/* Collapsable channels */
@media screen and (max-width: 800px) {
    .chatContent-3KubbW {
        padding-left: 62px;
    }
    .sidebar-1tnWFu {
        width: 62px;
        transition: 0.3s ease;
        position: fixed;
        height: calc(100% - 47.988px);
        z-index: 1;
        bottom: 0px;
    }
    .wrapper-1_HaEi:hover+.base-2jDfDU>.content-1SgpWY>.sidebar-1tnWFu {
        width: 240px;
    }
    .sidebar-1tnWFu:hover {
        width: 240px;
    }
    .iconItem-1EjiK0 {
        display: none !important;
    }
    .nameTag-sc-gpq {
        padding-left: 22px !important;
    }
}
