/* Collapsible channel list */
@import url(https://hotsno.github.io/custom-css/discord-collapsible-channel-list.css);

/* Collapsable users */
@media screen and (max-width: 1000px) {
    .members-3WRCEx {
        height: auto;
        max-height: 100vh;
    }
    .layout-1qmrhw {
        justify-content: unset;
    }
    .chatContent-3KubbW:not(:last-child) {
        margin-right: 65px;
    }
    .membersWrap-3NUR2t {
        position: absolute;
        right: 0;
        width: unset;
        min-width: 65px;
        height: 100%;
    }
    .members-3WRCEx {
        width: 65px;
        transition: 0.3s ease;
    }
    .membersWrap-3NUR2t:hover .members-3WRCEx {
        width: 240px;
        transition: 0.3s ease;
    }
}

/* Hide Explore and Download buttons on left bar */
.tutorialContainer-2jwoiB + .listItem-3SmSlK,
.scroller-3X7KbA > .listItem-3SmSlK + .listItem-3SmSlK {
    display: none;
}

/* Uniform username color */
.username-h_Y3Us,
.username-u-ebrn {
    color: #DDD !important;
}

/* Hide server banner and boost status */
.flowerStar-2tNFCR,
.flowerStarContainer-1QeD-L,
.animatedContainer-2laTjx,
.content-2a4AW9 [style="height: 84px;"],
.bannerImage-ubW8K-,
.animatedBannerHoverLayer-129r1v,
.container-2giAcK {
    display: none;
}
.header-3OsQeK {
    box-shadow: var(--elevation-low) !important;
}

/* Hide some top right icons */
.iconWrapper-2awDjA[aria-label="Help"],
.iconWrapper-2awDjA[aria-label="Notification Settings"],
.iconWrapper-2awDjA[aria-label="Hide Member List"],
.iconWrapper-2awDjA[aria-label="Add Friends to DM"],
.iconWrapper-2awDjA[aria-label="Start Video Call"],
.iconWrapper-2awDjA[aria-label="Start Voice Call"] {
    display: none;
}

/* Move search bar to left */
.search-39IXmY {
    order: -1;
    margin: 0 5px;
}

/* Hide sticker pop up */
.stickerIconOffset-2zxofV {
    display: none;
}

/* Folder background color */
.folder-241Joy,
.folderIconWrapper-1oRIZr {
    background-color: transparent !important;
}

/* Top right buttons */
.iconWrapper-2awDjA[aria-label="Help"],
.iconWrapper-2awDjA[aria-label="Notification Settings"],
.iconWrapper-2awDjA[aria-label="Hide Member List"] {
    display: none;
}

/* Collapsing search bar */
.search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ {
    width: 27px;
    transition: 0.25s;
    background-color: transparent;
}
.search-2Mwzzq:not(.open-1F8u2c):hover .searchBar-jGtisZ {
    width: 170px;
    background-color: var(--background-tertiary);
}
.search-2Mwzzq:not(.open-1F8u2c) .iconContainer-1RqWJj {
    transform: scale(1.3);
    transition: 0.25s;
}
.search-2Mwzzq:not(.open-1F8u2c):hover .iconContainer-1RqWJj {
    transform: scale(1);
}
.search-2Mwzzq:not(.open-1F8u2c) .icon-18rqoe {
    color: var(--text-normal);
}
.search-2Mwzzq:not(.open-1F8u2c):hover .icon-18rqoe {
    color: var(--text-muted);
}

/* Fix image carousel background */
.carouselModal-1eUFoq.zoomedCarouselModalRoot-beLNhM.root-g14mjS.fullscreenOnMobile-ixj0e3 {
    background-color: transparent !important;
}

/* Transparent background for transparency in images */
.modal-3Crloo.root-g14mjS {
    background-color: transparent !important;
}

/* Hide user status in server server user list */
.avatar-6qzftW > .wrapper-1VLyxH > svg > rect,
.avatar-6qzftW > .wrapper-1VLyxH > .mask-1FEkla.svg-2azL_l > svg {
    display: none;
}
.avatar-6qzftW > .wrapper-1VLyxH > svg > foreignObject {
    mask: unset !important;
    border-radius: 50%!important;
}

/* Server booster icon in server user list */
.nameAndDecorators-3ERwy2 > div > .premiumIcon-3PLiGh.icon-1dGlZy {
    display: none;
}

/* User profile button in DMs */
[aria-label="Show User Profile"] {
    display: none;
}

/* GIF, emoji, sticker, gift, file buttons in message box */
.attachWrapper-3slhXI,
.expression-picker-chat-input-button > [aria-label="Select emoji"],
[aria-label="Open GIF picker"],
[aria-label="Open sticker picker"],
[aria-label="Send a gift"] {
    display: none;
}

/* Icons on channels */
[aria-label="Create Invite"] > .actionIcon-2sw4Sl,
[aria-label="Edit Channel"] > .actionIcon-2sw4Sl {
    display: none;
}

/* Plus button on channel categories/DM */
.children-3MeUvj, .privateChannelRecipientsInviteButtonIcon-1ObKXK {
    display: none;
}

/* "Find or start conversation" in DMs*/
.privateChannels-oVe7HL > .searchBar-3TnChZ {
    display: none;
}

/* Icon next to server name */
.headerChildren-2qV9P8 {
    display: none;
}

/* Nitro tab in DMs */
[href="/store"] {
    display: none;
}

/* Hide mic, deafen, settings until hover */
.container-YkUktl > .horizontal-1Piu5- {
    opacity: 0;
    transition: opacity .1s;
}
.container-YkUktl:hover > .horizontal-1Piu5- {
    opacity: 1;
    transition: opacity .1s;
}

/* Hide tag */
.text-xs-normal-3O7EaX.subtext-2HDqJ7 {
    display: none;
}
.withTagAsButton-OsgQ9L {
    padding: 4px;
}

/* Bottom left username area */
.container-YkUktl {
    opacity: 0;
    transition: opacity .1s;
}

.container-YkUktl:hover {
    opacity: 1;
    transition: opacity .1s;
}

/* Create new server button */
.circleIconButton-1VxDrg {
    opacity: 0;
}

.circleIconButton-1VxDrg:hover {
    opacity: 1;
}

/* Top toolbar icons */
.toolbar-3_r2xA>[aria-label="Threads"],
.toolbar-3_r2xA>[aria-label="Pinned Messages"],
.toolbar-3_r2xA>.recentsIcon-F3eO1o,
.toolbar-3_r2xA>.search-39IXmY>div>div>.icon-tZMHgY>div>.icon-18rqoe {
    display: none;
}

.title-31SJ6t.container-ZMc96U.themed-Hp1KC_:hover>.toolbar-3_r2xA>[aria-label="Threads"],
.title-31SJ6t.container-ZMc96U.themed-Hp1KC_:hover>.toolbar-3_r2xA>[aria-label="Pinned Messages"],
.title-31SJ6t.container-ZMc96U.themed-Hp1KC_:hover>.toolbar-3_r2xA>.recentsIcon-F3eO1o,
.title-31SJ6t.container-ZMc96U.themed-Hp1KC_:hover>.toolbar-3_r2xA>.search-39IXmY>div>div>.icon-tZMHgY>div>.icon-18rqoe {
    display: block;
}

/* Emoji selector hover color */
.emojiItem-277VFM.emojiItemSelected-2Lg50V {
    background-color: rgba(255, 255, 255, 0.2);
}
